:root{
    --bordSize : 95vmin; /* vmin = min(vw, vh) */
}
#bord {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /* width: min(90vw, 90vh);
    height: min(90vw, 90vh); */
    width: var(--bordSize);
    height: var(--bordSize);
    /* aspect-ratio: 1; */
    /* margin: 0px auto; */
    border: 2px solid #2e7d32;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    /* background-color: #f1f8e9; */
    position: relative;
}

/*flex setting start */
  
#bord .box{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* flex setting end */

#bord .box {
    border: 1px solid #c8e6c9;
    font-size: 2.2vh;
    /* font-weight: bold; */
    aspect-ratio: 1;
    user-select: none;
    /* position: relative; */
    transition: transform 0.2s;
}


/* 🟥 Alternate box color (chess-style) */
#bord .box:nth-child(odd) {
    background-color: #e8f5e9;
}
#bord .box:nth-child(even) {
    background-color: #c8e6c9;
}

/* 🖱️ On hover effect */
#bord .box:hover {
    transform: scale(1.05);
    z-index: 2;
    background-color: #a5d6a7;
    color: white;
    cursor: pointer;
}

.box.snake {
    background-color: #f8bbd0; /* light pink */
    color: #880e4f;
    font-weight: bold;
    position: relative;
}
.box.ladder {
    background-color: #c8e6c9; /* light green */
    color: #1b5e20;
    font-weight: bold;
    position: relative;
}
.box.snake::after,
.box.ladder::after {
    content: 'Go ' attr(data-info);
    position: absolute;
    font-size: 1vh;
    background: #000;
    color: #fff;
    padding: 2px 5px;
    border-radius: 4px ;
    top: 0;
    right: 0;
}

.snakeImg, .leaderImg {
    border:1px solid red;
    position: absolute;
    pointer-events: none;
    z-index: 2;
    transform-origin: center left; /* Left-center anchor */
}

@media only screen and (orientation: portrait){
  
}

