
.dice_container {
    display: grid;
    place-items: center;
    /* width: 250px; */
    padding: 60px 40px;
    border-radius: 30px;
    background: #eeeeee;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

/*
    Dice Styles
*/

.dice_container .dice {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: .5s ease;
}

@keyframes rolling {
    50% {
        transform: rotateX(455deg) rotateY(455deg);
    }
}

.dice_container .face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid #f6f3f0;
    transform-style: preserve-3d;
    background: linear-gradient(
        145deg, #dddbd8, #fff
    );
}

.dice_container .face::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #f6f3f0;
    transform: translateZ(-1px);
}

.dice_container .face::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #131210;
}

.dice_container .front {
    transform: translateZ(50px);
}

.dice_container .back {
    transform: rotateX(180deg) translateZ(50px);
}

.dice_container .top {
    transform: rotateX(90deg) translateZ(50px);
}

.dice_container .bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

.dice_container .right {
    transform: rotateY(90deg) translateZ(50px);
}

.dice_container .left {
    transform: rotateY(-90deg) translateZ(50px);
}

.dice_container .front::after {
    width: 30px;
    height: 30px;
    background: #f63330;
    margin: -15px 0 0 -15px;
}

.dice_container .back::after {
    margin: -35px 0 0 -30px;
    box-shadow: 40px 0,
                0 25px,
                40px 25px,
                0 50px,
                40px 50px;
}

.dice_container .top::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 40px;
}

.dice_container .bottom::after {
    margin: -36px 0 0 -36px;
    box-shadow: 26px 26px,
                52px 52px,
                52px 0,
                0 52px;
}

.dice_container .right::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 0,
    0 40px,
    40px 40px;
}

.dice_container .left::after {
    margin: -35px 0 0 -35px;
    box-shadow: 25px 25px,
                50px 50px;
}

/*
    Roll Button styles
*/

.dice_container .roll {
    cursor: pointer;
    color: #b33951;
    margin-top: 60px;
    padding: 6px 12px;
    border-radius: 3px;
    font: 700 16px 'Montserrat';
    border: 2px solid #b33951;
    transition: .4s;
}

.dice_container .roll:hover {
    color: #fff;
    background: #b33951;
}
