@import url('aside.css');
@import url('bord.css');

main{
    width:90%;
    height: max-content;
    margin: 0 auto;
    padding: 10px 0;
}
/* flex setting start */
   
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

main aside{
    flex-basis: 20%;
}

main #bord{
    /* flex-basis: 90vh; */
}
.hide{
    display: none !important;
}
/* flex setting end */
@media only screen and (orientation: portrait){
    main{
        flex-direction: column;
    }
    main aside{
        order:1;
    }

    main #bord{
        order:0;
    }
}

